#game-block {
  background-color: var(--color-background-game);
  /* height: 200px; */
  width: 49%;
  border-radius: 0.8rem;
  display: flex;
  margin-bottom: 20px;
}

#game-block .img-block{
  width: 45%;
  height: 100%;
 
}
#game-block .img-block .img-game{
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  margin: auto;
}
#game-block .content-block{
  width: 49%;
  padding-left: 2vw;
  padding-top: 2vh;
}

#game-block .content-block .content-classification {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
@media(max-width: 1000px){
  #game-block {
    width: 100%;
    display: block;
  }
  #game-block .img-block{
    width: 100%;
    height: 49%; 
  }
  #game-block .content-block{
    width: 100%;
    padding-left: 2vw;
    padding-top: 2vh;
    height: 49%;
  }

}