:root {
  --color-background: #1c1e22;
  --color-background-game: #31383e;
  --color-background-secondary: #2a2e33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-main {
  width: 100%;
  min-height: 100vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: var(--color-background);
}

#page-main #page-header {
  width: 95%;
  height: 10vh;
  margin: auto;
  background-color: var(--color-background-secondary);
  border-radius: 0.8rem;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#page-main #page-header .search-block {
  position: relative;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a9ae6;
  border-radius: 0.8rem;
}
#page-main #page-header .search-block .submit-search{
  width: 10%;
}

#page-main #page-header .search-block input {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background: white;
  border: 1px solid black;
  outline: 0;
  font-size: 1.4rem;
  padding-left: 1.6vw;
}
#page-main #filter-block {
  /* margin: auto;
  justify-content: center; */
  text-align: center;
}
#page-main #filter-block .select-filter{
  width: 10%;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 25px;
  border-radius: 0.4rem;
  background-color: white;
}

#page-main #filter-block .submit-filter {
  width: 10%;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 25px;
  border-radius: 0.4rem;
  background-color: #3a9ae6;
  cursor: pointer;
  border: none;
}
#page-main #filter-block .remove-filter {
  width: 5%;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 25px;
  border-radius: 0.4rem;
  background-color: #ff5e6a;
  cursor: pointer;
  border: none;
}

#page-main #page-header .search-block button {
  border: none;
  background-color: #3a9ae6;
  height: 100%;
  width: 5%;
  cursor: pointer;
  border-radius: 0.8rem;
  /* border-bottom-right-radius: 0.8rem;
  border-top-right-radius: 0.8rem; */
}
#page-main #page-content {
  width: 95%;
  margin: auto;
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
}

#page-main #page-content .result-true {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#page-main #page-content .result-none {
  text-align: center;
  font-size: 1.6rem;
}

@media(max-width: 1025px) {
  #page-main #filter-block .select-filter{
    width: 25%;
  }
  #page-main #filter-block .submit-filter {
    width: 25%;
  }
  #page-main #filter-block .remove-filter {
    width: 25%;
  }
  #page-main #page-header .search-block {
    width: 90%;
  }
  #page-main #page-header .search-block .submit-search{
    width: 30%;
  }
  #page-main #page-header .search-block input{
    font-size: 1rem;
  }

}